---
layout: default
title: Home page
---
    <h2>Index.html</h2>
    <p>The website is available !!!</p>
    <hr><hr>

    Cours

    <hr>
    {% for cour in site.cours %}
      <article class="article">
        <h2>{{cour.title}}</h2>
          <p><a href="{{cour.url}}">Learn more </a> <br>
          </p>
          <hr><hr>
      </article>
    {% endfor%}
    <br>
    <br>
    Blog / Ipsum :
    <br>
    <hr>
    {% for post in site.posts %}
      <article class="article">
        <h2>{{post.title}}</h2>
        <h6>{{post.date}}</h6>
          <p><a href="{{post.url}}">Read more</a> <br>
          </p>
          <hr><hr>
      </article>
    {% endfor%}
