---

---
$color-primary:pink;
$color-title:aqua;

body {
  background: $color-primary;
  font-family: arial,sans-serif;
}

header, footer {
  background: deeppink;
  padding:5%;
}

h1,h2,h3 {
  color: $color-title;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px black;
}

a {
  font-weight: bold;
  color: #123456;
}

.article {
  display: inline-block;
  width:31%;
  vertical-align: top;
  height: 200px;
  background-color: purple;
  margin:5px;
}
